@use "variavel";

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: "Bungee", cursiva;
  font-family: "Pacifico", cursiva;
  font-family: "Roboto", sem serifa;
  font-family: "Sedgwick Ave Display", cursiva;
}
